# Build a Node.js project.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'macos-11'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.21.x'

- task: Npm@0
  displayName: 'npm install'

- script: node make.js build
  displayName: 'Build'

- script: node make.js test
  displayName: 'Run Tests'

- script: node make.js packageprod
  displayName: 'Build test package'

- script: node make.js packagetest
  displayName: 'Build prod package'

- task: CopyFiles@2
  displayName: 'Copy extensions to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)'
    Contents: '*.vsix'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: ExtensionVsixFiles'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
    ArtifactName: ExtensionVsixFiles

- task: ComponentGovernanceComponentDetection@0
  inputs:
    sourceScanPath: ..